 html,
 body {
     height: 100%;
     margin: 0;
     padding: 0;
     line-height: 1.5;
 }

 .main {
     height: 100%;
 }

 body {
     font-family: 'Montserrat', Helvetica, Arial, sans-serif;
 }

 body.fontLoaded {
     font-family: 'Montserrat', Helvetica, Arial, sans-serif;
 }

 .herobanner {
     height: 100vh;
     background-color: hsl(40, 12%, 69%);
     background-image: url('/bghi.jpg');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     width: 100vw;
     height: 100vh;

 }

 .headline {
     color: #fff;
     font-weight: 700;
     font-size: 4em;
     text-align: center;

     @media (max-width: 768px) {
         font-size: 2.5em;
     }

 }

 .subline {
     font-size: 2em;
     font-weight: 600;
     color: #fff;
     text-align: center;

     @media (max-width: 768px) {
         font-size: 1.7em;
         font-weight: 600;
     }

 }

 .hero-wrapper {
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 20px;
 }

 .iconlink {
     &:not(:first-child) {
         margin-left: 20px;
     }

     color: #fff;

     &:hover {
         text-decoration: none;
         color: #fff;
         opacity: 1.0;
     }

     text-decoration: none;
     opacity: 0.9;
     font-size: 1.3em;
     display: inline-block;

 }

 .iconswrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 20px;
 }

 .bottomsection {
     color: #fff;
     display: flex;
     justify-content: center;
     padding-top: 30px;
     font-size: 1.2em;
 }

 .pagelink {
     padding-right: 5px;
     padding-left: 5px;
     color: #fff;

     &:hover {
         text-decoration: underline;
         color: #fff;

     }

     text-decoration: underline;
     display: inline;
 }

 .link {

     color: #fff;

     &:hover {
         text-decoration: underline;
         color: #fff;

     }

     text-decoration: underline;
     display: inline;
 }

 .link-dark {

    color: #333;

    &:hover {
        text-decoration: underline;
        color: #333;

    }

    text-decoration: underline;
    display: inline;
}

 .iconsouter {
     padding-left: 10px;
     padding-right: 10px;
 }

 .imglogo {
     max-width: 100px;
 }

 .showcase-section {
     padding-top: 60px;
     padding-bottom: 60px;
     background-color: #fff;
     color: #333;

     &.dark {
         background-color: #031a46;
         color: #eee;
     }

     h1 {
         text-align: center;
         font-size: 46px;
         font-weight: 700;

         @media only screen and (max-width: 768px) {
             font-size: 32px;
         }
     }

     h2 {
         padding-top: 0.5em;
         font-size: 1.3em;
         text-align: center;
         font-weight: 400;
         line-height: 1.6;
     }

 }

 .h1-secondary {
     font-weight: 900;
     color: #333;
     font-size: 46px;
     margin-bottom: 0em;
     margin-top: 0px;
     text-align: center;
     padding-bottom: 20px;

     @media only screen and (max-width: 768px) {
         font-size: 32px;
     }
 }

 .h2-secondary {
     font-weight: 400;
     color: #333;
     font-size: 1.3em;
     text-align: center;
     margin-bottom: 0em;

     @media only screen and (max-width: 768px) {
         text-align: center;
     }

     margin-bottom: 1.5em;
     padding-bottom: 20px;
 }

 .feature-item {
     @media only screen and (max-width: 768px) {
         text-align: center;
         padding-bottom: 1em;
     }
     font-size: 1.1em;
 }

 .h3 {
     font-weight: 500;
     color: #fff;
     margin: 0px;
     padding: 0px;
     padding-bottom: 0.5em;
     padding-top: 0.5em;
 }

 .text-highlight {
     color: #F15D04;
 }

 .features-icons-icon {

     .i-color {
         color: #fff;
     }
 }

 .feature-wrapper {
     padding-top: 40px;
 }

 .faq-wrapper {
    padding-top: 60px;
    background-color: #eee;
    color: #333;
    padding-bottom: 60px;
 }

 .question-header {
    font-size: 1.3em;
    font-weight: 700;
    color: #F15D04;
    padding-top: 20px;
 }

.answer {
    font-size: 1.1em;
    font-weight: 500;
    padding-top: 1em;
    color: #333;
}

.header {
 font-size: 2em;
 font-weight: 700;
 border-bottom: solid 1px rgba(229,232,235,0.25);
 padding-bottom: 20px;
 margin-top: 0em;
}

.faq-row {
    padding-bottom: 20px;
}

.footerlinksection {
    color: #fff;
    padding-bottom: 2.5em;
}
 
.footerul {
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
}

.footerli {
    &:before {
        content: ' ';
    }
    margin-top: 12px;
}

.footerlink {
    text-decoration: none;
    color: #fff;
    &:hover {
        text-decoration: underline;
        color: #fff;
    }
}

.radiantl1 {
    font-weight: 700;
    font-size: 2em;
}

 
.CallOutSection {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    background-color: #333;
    display: inline-block;
    border-radius: 9999px;
    padding: 5px;
    padding-right: 10px;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    @media only screen and (max-width: 768px) {
        text-align: center;
        justify-content: center;
    }
}

.CallOutBadge {
    display: inline-block;
    color: #eee;
}

.CallOutBadgeText {
    background-color: #F15D04;
    display: inline-block;
}

.CallOutBadgeAddonLeft {
    display: inline-block;
    color: #eee;
    background-color: #F15D04;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 20px;
}

.CallOutBadgeAddonRight {
    display: inline-block;
    color: #eee;
    background-color: #F15D04;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 20px;
}

.CallOutText{
    color: #eee;
    display: inline-block;
    padding-left: 10px;
    background-color: #333;
    &:hover {
        color: #eee !important;
    }
} 

.img-banner-wrapper {
    width: 100%;
    max-width: 300px;
    justify-content: center;
    display: flex;
    padding-bottom: 2em;
}

.img-banner {
    width: 100%;
    max-width: 300px;
}

.img-footer-wrapper {
    width: 100%;
    max-width: 100px;
    justify-content: center;
    display: flex;
    padding-bottom: 0.5em;
}

.img-footer {
    width: 100%;
    max-width: 100px;
}